<p>
  product-list works!
</p>
<a routerLinkActive='active' [routerLink] = "['/shoppingList']">szopa</a>
<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="id2">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name2">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="mass2">
    <th mat-header-cell *matHeaderCellDef> Mass </th>
    <td mat-cell *matCellDef="let element"> {{element.mass}} </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element; let i = index"><button mat-button (click)="editProduct(i+1)">Edit</button></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
