<div *ngIf="product!=undefined">
    <p>
    product works!
    id{{product.id}}
  </p>
  <form fxLayout="column" [formGroup]="productForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
      <mat-form-field fxFlex>
        <input matInput formControlName = "id" />
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput formControlName = "name" />
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput formControlName = "mass" />
      </mat-form-field>
    </div>
    <button mat-button type="submit" [disabled]="productForm.pristine">Save</button>
    </form>
</div>
