<p>
  shopping-list works!
</p>
<a routerLinkActive='active' [routerLink] = "['/productList']">fasfa</a>

<div class='table-responsive'>
      <table class='table'
             *ngIf='productList && productList.length'>
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Mass</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let product of productList'>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.mass }}</td>
          </tr>
        </tbody>
      </table>
</div>
